[submodule "ruby-kit/rinari"]
	path = ruby-kit/rinari
	url = git://github.com/crazycode/rinari.git
[submodule "ruby-kit/yaml-mode"]
	path = ruby-kit/yaml-mode
	url = git://github.com/crazycode/yaml-mode.git
[submodule "ruby-kit/ruby-test-mode"]
	path = ruby-kit/ruby-test-mode
	url = git://github.com/crazycode/ruby-test-mode.git
[submodule "ruby-kit/textmate"]
	path = ruby-kit/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "ruby-kit/rhtml"]
	path = ruby-kit/rhtml
	url = git://github.com/crazycode/rhtml.git
[submodule "ruby-kit/emacs-rails"]
	path = ruby-kit/emacs-rails
	url = git://github.com/crazycode/emacs-rails.git
